<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>35DCDPX52L</string>
	<key>ProjectID</key>
	<string>bauchglueck-6c1cf</string>
	<key>AppID</key>
	<string>de.frederikkohler.bauchglueck.BauchGlueck</string>
</dict>
</plist>
